@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

/* :root {
    --animationDuration: 0.5s;
    --animationStyle: ease-in-out;
} */
#myLinks{
    display: none;
    padding: 25px 20px 20px;
    z-index: 99;
    background: #fafafe;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    transition: ease-in-out !important;
   
}
#myLinks li {
    color: #1e1147;
    font-weight: 500;
}
.logot{
    z-index: 102;
}
/* .myLinks-transition{
    transition: top 1s ease;
    display: block;
} */
#myLinks a{
    display: block;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    margin: 0 8rem;
    gap: 6rem;
    /* margin-top: .5rem; */
}
#headerlinks .logot{
    width: 150%;
    margin-bottom: 1.5rem;
}
#headerlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.icon{
    color: #ff9100 !important;
    font-size: 2rem;
    display: none;
    transition: ease-in-out 1s;
}
.iconx{
    color: #1e1147 !important;
    font-size: 2rem;
    display: none;
    background-color: #fff;
    height: 20%;
    float: right;
    border-radius: 10rem;
    padding: 0 !important;
}
hr{
    margin-top: 3rem;
}
.iconx i a{
    
    max-width: 10%;
}

header, nav, ul{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    position: static;
    justify-content: space-between;
}

nav , ul,  li, a{
    text-decoration: none;
    padding: .69rem !important;
    color: #8f9bb3 ;
    font-weight: 200;
    /* font-family: 'Urbanist', sans-serif; */
}
.nav-buttons{
    display: flex !important;
}
.nav-buttons .lo {
    color: #1e1147 ;
    background-color: #ccced2 ;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px;
    padding: .9rem 1.7rem;
}
.nav-buttons .si{
    margin-left: 20px;
    background-color: #ff9100;
    color: white ;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px;
    padding: .9rem 1.7rem;
}


    /* dropdown */
    .drop{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

.dropdown-content{ 
    display: flex;
    width: 550px;
    position: absolute;
    padding: 14px;
    background: #fff;
    border: 1px solid #eaedf3;
    box-shadow: 0 1px 5px rgb(0 0 0 / 4%);
    border-radius: 5px;
    z-index: 99;
    left: -9.5rem;
    right: -150px;
    margin-top: 15px; 
    color: #1e1147;
    display: none;
}
.drop:hover .dropdown-content{
    display: flex;
}
    /* left list  */

     .dropdown-content ul{
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        float: left;
        align-items: flex-start;
     }
     .dropdown-content ul :not(:last-child){
         margin-bottom: 13px;
     }
    .dropdown-content ul{
         width: 100%;
    margin: auto 0;
    padding: 28px !important;
    }
    .dropdown-content ul li{
        display: flex;
        align-items: center ;
        
    }
    .dropdown-content ul li a{
        padding: 0;
        color: #1e1147;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 16px;
        font-size: .99rem !important;
    }

    .drop-icon img{
        width: 85%;
    }
    /* right list  */

     .claim {
        background: url(./TC-image/personal-dropdown.png),#f9f9f9;
        background-repeat: no-repeat;
        padding: 24px;
        border-radius: 14px;
    } 
    .claim h4 {
        margin-top: 105px;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
    }
    .claim p {
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
    }
    .claim button{
        margin-top: 24px;
        border: none;
    color: #ff9100;
        background-color: none;
        font-weight: bold;
    }
    .claim img{
        margin-left: 7px;
        font-size: 20px;

    }

     

     .dropdown-content:after {
        content: "";
        height: 14px;
        width: 14px;
        position: absolute;
        background-color: #fff;
        top: -8px;
        right: 68%;
        border-top: 1px solid #eaedf3;
        border-left: 1px solid #eaedf3;
        transform: rotate(
    45deg
    );
    } 

          /* end of header styling  */

                        /* home page styling */
    .home-page{
        padding-top: 300px;
        padding-bottom: 120px;   
        background: linear-gradient(0deg,#fff9f1,#fff8ef 26.04%,hsla(0,0%,100%,0) 70%);
        margin-top: -175px;
        
    }
    .home-page .container{
        padding: 0;
        margin: 0 8rem;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home-text{
        width: 680px;
    }
    .home-text h1{
       color:#1e1147 ;
       font-weight: 700;
    letter-spacing: .2px; 
    max-width: 700px;
    font-size: 3rem;
    }
    .home-text p{
        font-size: 22px;
        line-height: 30px;
        margin-top: 24px;
        max-width: 412px;
        color: #1e1147
    }
    .home-textbtn{
        display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 32px 0 40px;
    gap:1rem;
    justify-content: space-between;
    color: white;
    background-color: #ff9100;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 500;
    }
    .home-textbtn:hover{
        color: white;
    }
    .home-textbtn i {
        color:white;
    }
    .home-badge{
        display: flex;
        justify-content: space-between;
        max-width: 340px;
    height: 52px;
    }
    
    .home-imgs{
        position: relative;
        display: flex;
    /* width: 500px; */
    }
    .home-imgs>div{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;  
    }
    .ic-bank{
        left: -20%;
        top: -90%;
        animation: bouncebank 1.8s infinite ease;
    }
    @keyframes bouncebank{
        0%{
         transform: translateY(0);
        } 
        10%{
            transform: translateY(5.5px);
        }
       50%{
         transform: translateY(9.5px);
        } 
        100%{
         transform: translateY(1.2px);
        } 
     }

    .ic{
        width: 130px;
        position: absolute;
        
    }
   
    .ic-save{
        left: -205px;
    top: -39px;
    animation: bouncesave 1.5s infinite ease;
    }
    @keyframes bouncesave{
        0%{
         transform: translateY(0);
        } 
        10%{
            transform: translateY(5px);
        }
       50%{
         transform: translateY(9px);
        } 
        100%{
         transform: translateY(1px);
        } 
     }
    .ic-credit{
        left: -69%;
        top: 130px;
        animation: bouncecredit 1.9s infinite ease;
    }
    
    @keyframes bouncecredit{
        0%{
         transform: translateY(0);
        } 
        10%{
            transform: translateY(5.5px);
        }
       50%{
         transform: translateY(9.5px);
        } 
        100%{
         transform: translateY(1.2px);
        } 
     }
    .ic-pensions{
        left: 50%;
        top: -24%;
        animation: bouncepension 2s infinite ease;
    }
    @keyframes bouncepension{
        0%{
         transform: translateY(0);
        } 
        10%{
            transform: translateY(5.5px);
        }
       50%{
         transform: translateY(9.5px);
        } 
        100%{
         transform: translateY(1.2px);
        } 
     }
    .ic-insurance{
        top: 70%;
        left: 35%;
        animation: bounceinsurance 1.5s infinite ease;
    }
    @keyframes bounceinsurance{
        0%{
         transform: translateY(0);
        } 
        10%{
            transform: translateY(5.5px);
        }
       50%{
         transform: translateY(9.5px);
        } 
        100%{
         transform: translateY(1.2px);
        } 
     }
    .beaming{
        width: 80%;
        left: -40%;
        top: -15%;
        position: relative;
        animation: tangerine 3s ease-out infinite normal;
    }
    @keyframes tangerine{
        0%{
            transform: scale(0.9);
        }
        25%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(0.9);
        }
    }
             /* end of home page styling */

             /* benefuts styling */
    .benefits {
      padding-top: 130px;
      padding-bottom: 130px;
   }
   .benefits .container{
       display: flex;
       gap: 10rem;
       padding: 0;
       align-items: center;
   }
   .benefits-contents h2{
    font-size: 48px;
    line-height: 64px;
    color: #1e1147;
    font-weight: 700;
    width: 120%;
   }
   .benefits-contents p{
    font-size: 20px;
    line-height: 36px;
    color: #1e1147;
    font-weight: 400;
   }

  
   .bank-contents{
       display: flex;
       margin: auto;
    padding: 0 20px;
    align-items: center;
    margin: auto;
    padding: 0 20px;
    max-width: 1400px;
    gap: 0 180px;
   }
   
   .service-sect{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
   }
   .Banking{
    background: linear-gradient(
        180deg
        ,hsla(0,0%,100%,0),#fff8ef 26.04%,#fff9f1);
   }
   .bc-text{
       max-width: 45%;
       
   }
   .ser1{
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 6.8px;
    text-transform: uppercase;
    color: #1e1147;
    margin-bottom: 50px;
   }
   .ser2{
    font-weight: 650;
    font-size: 55px;
    line-height: px;
    letter-spacing: .2px;
    margin-bottom: 20px;
    color: #1e1147;
    
   }
   .ser3{
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    margin-top: 30px;
    color: #1e1147 !important;
   }
   .ser4{
    margin-top: 32px;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #ff9100;
    padding: 0;
   }
   .bc-img{
    position: relative;
    max-width: 400px;
   }
   .pay{
       width: 125%;
   }
   .payi{
    position: absolute;
    bottom: 95px;
    right: -190px;
    width: 350px;
   }
   .Insurance{
    background: linear-gradient(
        180deg
        ,hsla(0,0%,100%,0),rgba(247,255,233,.81));
   }



   .web-available{
    padding: 130px 0;
    position: relative;
   }
   .web-available .img {
    position: absolute;
   }
  .web-available .container{ 
    background: #fafafe;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgb(0 0 0 / 4%);
    text-align: center;
    width: 90%;
    margin: auto;
    z-index: 2;
    overflow: hidden;
    position: relative;
  }
  .abstract{
      position: absolute;
    left: 8%;
    bottom: 36%;
    z-index: 2
  }
  .abstract2{
      position: absolute;
    right: 6%;
    bottom: 0%;
    height: 90%;
    z-index: 2;
  }
  .web-text{
    margin-bottom: 2rem;
    font-weight: 700;
    color: #1e1147;
    font-size: 57px;
    line-height: 60px;
    margin-top: 3.9rem;
  }
  .web-para{
    font-size: 20px;
    line-height: 36px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20rem;
    align-items: center ;
    text-align: center;
    margin-left: 26.5%;
    color: #1e1147;
  }
  .Sover{
      width: 70%;
      position: absolute;
      top: 50%;
      right: 15%;
      
  }

.q{
    display: none;
}
  .sign {
    position: relative;
    margin: 0 auto -170px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
.free{
    width: 100%;
    background: #1e1147;
    border-radius: 40px;
    padding: 40px 0;
    overflow: hidden;
}

.cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0 30px;
    align-items: center ;
}
.sign-text{
    max-width: 435px
}
.sign-img{
    margin-top: .5rem;
}
.sign-text h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .2px;
    color: #fff;
}
.sign-text p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .2px;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 24px;
}
.feet-badge{
    display: flex;
    gap: .8rem;
}
.sign-img{
    margin-bottom: -40px
}
.sign-img img{
 max-width: 300px;
}


.footer-main{
    display: flex;
    flex-wrap: wrap;
    background: #e5eaf4;
}
.footer-colums{
    display: flex;
    width: 100%;
    padding: 0 20px;
    background-image: url(./TC-image/mapbase.svg);
    background-size: cover;
}
.colums-content{
    
    padding-top: 15rem;
    width: 100%;
    
}
.columnsm-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.feet-social{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.feet-social img{
    width: 25%;
    margin-bottom: 1.5rem;
}
.feet-social p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #1e1147;
}
.feet-social ul li {
    display: inline !important;
    color: #ff9100;
    font-size: 1.2rem;

}
.feet-social ul{
    padding: 0 !important;
}
.others ul{
    display: block !important;
    color: #1e1147;
    padding-left:0 !important ;
}
.others h2{
    font-size: 1.3rem;
}
.others ul li{
    font-weight: 350;
    color: #1e1147;
    font-size: 1rem;
    padding-left: 0 !important;
}

.o1{
    margin-top: 4.5rem !important;
}
.o2{
    margin-bottom: 5.3rem !important;
}
.o3{
    margin-bottom: 2.5rem !important;
}
.reveal{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active{
    /* opacity: 1; */
    transform: scale(1);
    animation: mymove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes mymove{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 1;}
}
.reveal1{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active1{
    opacity: 1;
    transform: scale(1);
}
.reveal2{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active2{
    opacity: 1;
    transform: scale(1);
}
.reveal3{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active3{
    opacity: 1;
    transform: scale(1);
}
.reveal4{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active4{
    opacity: 1;
    transform: scale(1);
}
.reveal5{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active5{
    opacity: 1;
    transform: scale(1);
}
.reveal6{
    opacity: 1;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}
.active6{
    opacity: 1;
    transform: scale(1);
}
